<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= image_tag post.image.url(:thumb) %> </h2>
    <p> <%= post.caption %> </p>
    <% if user_signed_in? %>
      <%= link_to 'Delete', post_path(post), method: :delete %>
    <% end %>
    <ul class="comments">
      <% post.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>  

    <%= form_for [post, Comment.new] do |f| %>
      <%= f.text_field :body %>
    <% end %>

  <% end %>
<% else %>
  No photos to show!
<% end %>

<p><a href='/posts/new'>Post Something</a><p>