
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= show_image_link post %> </h2>
    <p> <%= post.caption %> </p>
    <%= link_to "Like", post_likes_path(post), class: 'like' %>
    <span class="likes-count"><%= post.likes.count %> </span> likes
      <%= destroy_link post %>
    <ul class="comments">
      <% post.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>  
    <% if user_signed_in? %>
      <% @post = post %>
      <%= render "comment_form" %>
    <% end %>

  <% end %>
<% else %>
  No photos to show!
<% end %>

<p><a href='/posts/new'>Post Something</a><p>